
.form-control-label {
    margin-bottom: 7px;
    margin-top: 7px;
}

/*
    NEW CSS -------------------------------------------------------------------
*/

#join-panel {
   height: 352px;
}
#join-panel-heading {
    height: 50px;
}
#join-panel-body {
    height: 245px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    overflow-y: scroll;
}
#join-button {
    height: 20px;
    float: right;
    padding-top: 0;
}

#users-panel {
   height: 352px;
}
#users-panel-heading {
    height: 50px;
}
#users-panel-body {
    height: 245px;
    
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    overflow-y: scroll;
}
#chat-panel {
   height: 352px;
}
#chat-panel-heading {
   height: 50px;
}
#chat-panel-body {
    height: 245px;
    overflow-y: scroll;
}
#chat-panel-footer {
    position: relative;
    float: bottom;
    width: 100%;
}
#size-selector {
}
.bootstrap-select {
    width: 100% !important;
}
.disabled {
    pointer-events: none;
}

/*
    CANVAS CSS -----------------------------------------------------------------
*/
#progBar-div {
    float: left;
    margin-bottom: 0px;
    margin-right: 20px;
    width: 100%;
    height: 30px;
    text-align: center;
}
#progBar {
    cursor: text;
}
#audio-indicator {
    height: 30px;
}
#audio-stamp-canvas {
    width: 100%;
    height: 20px;
    border: solid 1px black;
    border-bottom: none;
    margin-bottom: -5px;
}
#layers-wrapper {
    display: table;
    table-layout: fixed;
    width: 450px;
    float: right;
    height: 34px;
    background-color: white;
    text-align: center;
}
#layers-wrapper div {
    display: table-cell;
    height: 100%;
    border: 1px solid #000000;
    font-size: 20px;
    color: #000000;
}

#canv {
    border: 1px solid #000000;
    margin-left: 15px;
    float: left;
    user-select: none;
}
#left-panel {
    width: 130px;
    float: left;
    user-select: none;
}
#tool-column {
    width: 60px;
    height: 700px;
}
#thickness-column {
    float: left;
    width: 60px;
    margin-right: 10px;
}
#audio-row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 1425px;
    user-select: none;
}
#top-row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    /*margin-left: 20px;
    width: 1425px;*/
    user-select: none;
}
#time-indicator {
    z-index: 1000;
    position: absolute;
    left: 48%;
    padding-top:4px;
    user-select: none;
}
#vol-control {
    width: 130px;
    float: left;
    margin-top: 7px;
    display: inline;
}
#brightness-row {
    margin-left: 15px;
    display: inline;
    float: left;
}
#solo-row {
    display: none;
    float: left;
}
#tool1 {
    background-image: url('images/icons/brush.jpg');
}
#tool2 {
    background-image: url('images/icons/rLine.jpg');
}
#tool3 {
    background-image: url('images/icons/spray.jpg');
}
#tool4 {
    background-image: url('images/icons/centeredSpray.jpg');
}
#tool5 {
    background-image: url('images/icons/softCircle.jpg');
}
#tool6 {
    background-image: url('images/icons/softCircle.jpg');
    margin-bottom: 0;
}
.tool {
    width: 100%;
    height: 15.5%;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #DDDDDD;
    background-size: 100% 100%;
}
/*.tool:hover {
    background-position: 0px;
}
.tool:focus {
    background-position: 0px;
    outline: none;
}*/
.thickness-class {
    width: 100%;
    height: 35px;
    text-align: center;
    border: 1px solid #555555;
    padding-top: 3px;
    cursor: pointer;
}
.brightness-class {
    width: 80px;
    height: 34px;
    margin-right: 7px;
    border: 1px solid #555555;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    vertical-align: top;
}
#right-panel {
    /*position: absolute;
    margin-left: 1460px;*/
    float: right;
    top: 10px;
    width: 450px;
    height: 710px;
    user-select: none;
}
#color-picker-canvas {
    width: 100%;
    height: 720px;
    cursor: url(/images/picker.cur), pointer;
}
#color-picker-data {
    margin-top: 19px;
}
#show-color {
    border: 1px solid #000000;
    background-color: black;
    height: 20px;
}

.colors {
    width: 16%;
    height: 30px;
}

#mute-button {
    float: left;
    height: 30px;
}

/*
    TEXT EDITOR CSS ------------------------------------------------------------------------
*/

#text-add-button {
    float: right;
    display: inline;
    margin-right: 10px;
    width: 40px;
    height: 30px;
    border: 2px solid #FF0000;
}
#text-remove-button {
    float: right;
    display: inline;
    margin-right: 10px;
    width: 40px;
    height: 30px;
}

#textChangeDiv {
    float: left;
    border: 2px solid #00AA00;
    width: 30%;
}
.textSelect {
    width: 100%;
    font-size: 23px;
}
#arial-option {font-family: 'Arial', sans-serif;}
#verdana-option {font-family: 'Verdana', sans-serif;}
#calibri-option {font-family: 'Calibri', sans-serif;}
#tnr-option {font-family: 'Times New Roman', Times, serif;}
#georgia-option {font-family: 'Georgia', serif;}
#cn-option {font-family: 'Courier New', monospace;}
#lc-option {font-family: 'Lucida Console', monospace;}


input#text-borders {
  position: relative;
  top: 2px;
  *overflow: hidden;
}

/*optgroup { font-family: 'Times New Roman', sans-serif; }*/


/*
    RECORDS CSS ---------------------------------------------------------------------
*/

/*#rec-container {
    margin-left: 50px;
}
#rec-header-text {
}
#rec-progBar-div {
    height: 30px;
}
#rec-mute-button {
    float: left;
    height: 30px;
    margin-right: 10px;
}
#rec-panel-body {
    height: 245px;
    
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    overflow-y: scroll;
}
#rec-canv {
    border: 1px solid #000000;
    float: left;
}
#record-player {
    background-color: red !important;
}*/
.rec-items {
    height: 55px;
}


.m-picker {
    cursor: pointer;
}


/* 
    LOADING ICON --------------------------------------------------------------------
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

/*
    PATENT CODE ---------------------------------------------------------------------
*/

#patent-code {
    position: absolute;
    left: 20px;
    top: 823px;
    user-select: none;

}

