#join-panel {
   height: 352px;
}
#join-panel-heading {
    height: 50px;
}
#join-panel-body {
    height: 245px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    overflow-y: scroll;
}
#join-button {
    height: 20px;
    float: right;
    padding-top: 0;
}

#users-panel {
   height: 352px;
}
#users-panel-heading {
    height: 50px;
}
#users-panel-body {
    height: 245px;
    
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    overflow-y: scroll;
}
#chat-panel {
   height: 352px;
}
#chat-panel-heading {
   height: 50px;
}
#chat-panel-body {
    height: 245px;
    overflow-y: scroll;
}
#chat-panel-footer {
    position: relative;
    float: bottom;
    width: 100%;
}
.bootstrap-select {
    width: 100% !important;
}
.disabled {
    pointer-events: none;
}